# .gitignore general para BeepTEA

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# PlatformIO
.pio/
.vscode/

# Android (Capacitor nativo)
android/
www/

# Varios
*.apk
*.log
